@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background: url(bgImg.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    color: white;
    position: absolute;
    top: 20%;
    left: 45%;
    /* border: 2px solid green; */
}
.container h1{
    font-family: 'Joan', serif;
    margin: 30px;
    border-bottom: 2px solid purple;
}
.box{
    width: 100%;
    border-bottom: 1px solid purple;

    /* border: 2px solid blue; */
    
}
.box input{
    font-family: 'Joan', serif;
    background: none;
    width: 70%;
    border: none;
    outline: none;
    margin: 8px 7px;
    padding: 4px;
    font-size: 15px;
    color: white;
}
.box i{
    margin-left: 15px;
    text-align: center;
}
.btn{    
    margin-top: 25px;
    width: 25%;
    height: 30px;
    margin-left: 120px;
    font-size: 18px;
    outline: none;
    background: none;
    border: 1px solid white;
    color: white;
    border-radius: 7px; 
    font-weight: bold;
    margin-bottom: 8px;
    

}
.btn:hover{
    background-color: rgb(236, 227, 227);
    color: purple;   
    cursor: pointer;
}
a{
    color: rgb(207, 138, 207);
    margin-left: 100px; 
}
a:hover{
    color: white;
    
}
